.nav-item:hover{
    background-color: var(--btn-color);
    color: #FFFFFF;
    transition: 300ms ease-in-out;
}

.btn:hover{
    background-color: var(--btn-color);
    color: white;
    transition: 300ms ease-in-out;

}